<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <h3>Displaying a list of Top movies to watch</h3>
    <ol>
    {% for mov in recs %}
    <li>{{mov}}</li>
    <br>
    {% endfor %}
    </ol>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script>
    confetti({
  particleCount: 100,
  spread: 70,
  origin: { y: 0.6 }
});
</script>
</body>
</html>